@import url(http://fonts.googleapis.com/css?family=Lato:400,700,400italic);
@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'cpcicons';
	src:url('../fonts/cpcicons/cpcicons.eot');
	src:url('../fonts/cpcicons/cpcicons.eot?#iefix') format('embedded-opentype'),
		url('../fonts/cpcicons/cpcicons.woff') format('woff'),
		url('../fonts/cpcicons/cpcicons.ttf') format('truetype'),
		url('../fonts/cpcicons/cpcicons.svg#cpcicons') format('svg');
}

*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { content: ''; display: table; }
.clearfix:after { clear: both; }
.hide {
	display:none!important;
	transition-property: all;
    transition-property: transform;
     -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.fadein, .fadeout {
    opacity: 0;
    -moz-transition: opacity 0.4s ease-in-out;
    -o-transition: opacity 0.4s ease-in-out;
    -webkit-transition: opacity 0.4s ease-in-out;
    transition: opacity 0.4s ease-in-out;
}
.fadein {
    opacity: 1;
}
#form {
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
#webform {
	background: #035642;
	color: rgba(0,0,0,0.45);
	font-size: 100%;
	line-height: 1.25;
	font-family: 'Lato', Arial, sans-serif;
	position:absolute;
	height:100%;
	width:100%;
}

#webform a {
	color: rgba(0,0,0,0.25);
	text-decoration: none;
	outline: none;
}

#webform a:hover, #webform a:focus {
	color: rgba(0,0,0,0.6);
}

.cpc-header {
	margin: 0 auto;
	width:100%;
	display:block;
	padding-left:1em;
}
.cpc-header .title {
	float:left;
	width:50%;
	padding: 1em 0em;
	color: rgba(0,0,0,0.45);
}
.cpc-header h1 {
	margin: 0;
	font-weight: 400;
	font-size: 3em;
}

.cpc-header h1 span {
	display: block;
	padding: 0 0 0.6em 0.1em;
	font-size: 0.6em;
	opacity: 0.8;
}
.cpc-header .logo {
	float:right;
	width:50%;
	padding-right:1em;
}

.cpc-header .logo img {
	float:right;
	height:100px;
	padding-top:1em;
	padding-right:1em;
}

/* To Navigation Style */
.cpc-top {
	width: 100%;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 0.69em;
	line-height: 2.2;
}

.cpc-top a {
	display: inline-block;
	padding: 0 1em;
	text-decoration: none;
	letter-spacing: 1px;
}

.cpc-top span.right {
	float: right;
}

.cpc-top span.right a {
	display: block;
	float: left;
}

.cpc-icon:before {
	margin: 0 4px;
	text-transform: none;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	font-family: 'cpcicons';
	line-height: 1;
	speak: none;
	-webkit-font-smoothing: antialiased;
}

.cpc-icon-drop:before {
	content: "\e001";
}

.cpc-icon-prev:before {
	content: "\e004";
}

#webform section {
	padding: 5em 2em 10em;
	background: #b4a76c;
	text-align: center;
}


@media screen and (max-width: 44.75em) {
	#webform section { padding: 1em 2em; }
}

@media screen and (max-width: 25em) {
	.cpc-header { font-size: 0.8em; }
	.cpc-icon span { display: none; }
}

#outputed-image {
	height:300px;
	margin:0px auto;
}

a#finish-photobooth, a#finish-photobooth:hover, a#finish-photobooth:visited, a#finish-photobooth:active {
	color:#fff;
	margin-top:30px;
}

#image-id {
	font-weight: bold;
	color:#035642;
}
