extends layout

block title
  = "shmile"

block content
  section#viewport
    button#start-button.awesome.superlarge.boinkcpgreenbright Start
  section#form.fadeout
    p TEST FORM
  button#get-info.fadeout Next
  button#start-over.fadeout Start Over



