<div id="webform">
	<!-- Top Navigation -->
	<header class="cpc-header clearfix">
		<div class="title">
			<h1>Want this memeory?  <span>Fill out the form below</span></h1>	
			
		</div>
		<div class="logo">

			<img src="/images/CPC_Logo_WHite.png"/>
		</div>
	</header>
	
	<section>
		<form id="theForm" class="simform" autocomplete="off">

			<div class="simform-inner">
				<ol class="questions">
					
						
						
							

					<li>
						<span><label for="q1">What's your name?</label></span>
						<input id="name" name="name" type="text"/>
					</li>
					<li>
						<span><label for="q2">What's your email?</label></span>
						<input id="email" name="email" type="email"/>
					</li>
				</ol><!-- /questions -->
				<input id="photoid" name="photoid" type="text" value="" style="opacity:0"/>
				<button class="submit" type="submit">Send answers</button>
				<div class="controls">
					<button class="next"></button>
					<div class="progress"></div>
					<span class="number">
						<span class="number-current"></span>
						<span class="number-total"></span>
					</span>
					<span class="error-message"></span>
				</div><!-- / controls -->
			</div><!-- /simform-inner -->
			<span class="final-message">
				Thank you! Pick up your photo at Print &amp; Copy, your ID# is <span id="image-id"></span>
			</span>
		</form><!-- /simform -->

		<!-- Lbarker- This needs to be the src=output_file_path -->
		<div id="output-image-container" class="fadeout">
			<img src="#" id="outputed-image"/>
		</div>
		<a href="#" id="finish-photobooth" class="fadeout hide superlarge awesome">Finish</a>
	</section>

	
</div><!-- /container -->

<script>
	var theForm = document.getElementById( 'theForm' );
	var request;
	setTimeout(function(){
	   $("#output-image-container").removeClass("hide").removeClass("fadeout").addClass("fadein");
	   $("#finish-photobooth").addClass("hide");
	}, 1500);
	
	

	new stepsForm( theForm, {
		onSubmit : function( form ) {
			$('input#email').blur();
			// hide form
			classie.addClass( theForm.querySelector( '.simform-inner' ), 'hide' );

			/* Submit form to google docs */
			 // Abort any pending request
			    if (request) {
			        request.abort();
			    }
			    // setup some local variables
			    var $form = $(theForm);

			    // Let's select and cache all the fields
			    var $inputs = $form.find("input, select, button, textarea");

			    // Serialize the data in the form
			    var serializedData = $form.serialize();

			    // Let's disable the inputs for the duration of the Ajax request.
			    // Note: we disable elements AFTER the form data has been serialized.
			    // Disabled form elements will not be serialized.
			    $inputs.prop("disabled", true);

			    // Fire off the request to /form.php
			    request = $.ajax({
			        url: "https://script.google.com/macros/s/AKfycbyNVZgYij9DJMhtwFWP6IzJswtu2Em49h8SRYhJzrlzzPq-09Rc/exec",
			        type: "post",
			        data: serializedData
			    });

			    // Callback handler that will be called on success
			    request.done(function (response, textStatus, jqXHR){
			        // Log a message to the console
			        console.log("Hooray, it worked!");
			        console.log(response);
			        console.log(textStatus);
			        console.log(jqXHR);
			    });

			    // Callback handler that will be called on failure
			    request.fail(function (jqXHR, textStatus, errorThrown){
			        // Log the error to the console
			        console.error(
			            "The following error occurred: "+
			            textStatus, errorThrown
			        );
			    });

			    // Callback handler that will be called regardless
			    // if the request failed or succeeded
			    request.always(function () {
			        // Reenable the inputs
			        $inputs.prop("disabled", false);
			    });

			    // Prevent default posting of form
			    event.preventDefault();

			// let's just simulate something...
			var messageEl = theForm.querySelector( '.final-message' );
			// Lbarker- Message will should include the final composited image path - or even better - just the name! 
			classie.addClass( messageEl, 'show' );
			// hide form
			$("#finish-photobooth").removeClass("hide").removeClass("fadeout").addClass("fadein");
			$("#output-image-container").addClass("hide");
		}


	} );


</script>	